

#products{

  section{

    img{
      width: 300px;
      height: 400px;
    }

    .rows{
      img{
        width: 91px !important;
        height: 121px !important;

      }
    }
  }

  .sold-out{
    padding-left: 20px;
  }


}

